*{
    margin: 0 0;
    padding: 0 0;
    border-style: border-box;
}

#main{
    margin-left: 77px;
    margin-top: 44px;
    height: 25px;
 
}

.displayp{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
}

#zombie{
  

}

.maintext{
padding-left: 105px;

}

#badnews{
    height: 190px;
    font-family:'space mono' ;
    
}

.scray{
    width: 539px;
}

.backhome{
    height: 10%;
    margin-top: 50px;
    background-color: black;

}

.wordd{
 
    border: 2px solid black;
} 

#backk{
    color: rgb(97, 12, 12);
    


  #myfooter{
    border: 2px solid black;
  }
}
#homepager{
    /* border-color: black; */
}

span{
    color: white;
   font-family: 'space mono';
   font-size: 20px;
}
#myfooter{
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 2px solid black;
}